footer{
  width: 100%;

  .inner{
    padding: 20px;
    display: inline-block;

    .copy{
      font-size: 15px;
      color: #fff;
    }
  }

  @include mobile{
    .inner{
      padding-left: 10px;
      padding-bottom: 15px;

      .copy{
        font-size: 12px;
      }
    }
  }
}

