.header {
  background: #000;
  color: #fff;
  height: 100vh;
  width: 100%;

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #fff;
  }

  .logo-area {
    font-size: 50px;
    font-size: 4vw;

    .link-logo {
      display: block;
    }
  }

  .link-contact {
    font-size: 30px;
    font-size: 2.5vw;
  }

  @include mobile{
    .inner{
      padding: 6px 10px;
    }
    .logo-area{
      font-size: 10vw;
    }
    .link-contact{
      font-size: 7vw;
    }
  }

  .msg-box {
    font-size: 8.5vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;

    .msg-wrap{
      display: flex;
    }

    @include mobile{
      font-size: 10vw;
    }
  }
}
