.sc-project {

  .project-item{
    position: relative;

    .link-project {
      display: block;
      height: 90vh;

      @include mobile{
        height: 30vh;
        margin: 15px 0;
      }

      .img-box {
        height: 100%;
        overflow: hidden;
  
        img {
          width: 100%;
          height: 150%;
          object-fit: cover;
          transition: opacity 0.3s;
        }
      }
  
      .txt-box {
        position: absolute;
        left: 0;
        padding: 50px;
        color: #fff;
        top: 50%;
        transform: translateY(-50%);
        text-align: left;
        opacity: 0;

        @include mobile{
          padding: 13px;
          top: 45%;
        }

        .category-list {
          display: flex;
  
          .category-item {
            color: #fff;
            font-size: 20px;
            letter-spacing: 2.5px;
            border-radius: 34px;
            height: 34px;
            line-height: 34px;
            padding: 0 20px;
            border: 1px solid #fff;
          }
  
          .category-item+.category-item {
            margin-left: 10px;
          }

          @include mobile{
            display: none;
          }
        }

        h3 {
          font-size: 152px;

          @include mobile{
            font-size: 13vw;
          }
        }
      }
    }

    .btn-box {
      position: absolute;
      padding: 50px;
      left: 0;
      top: 58%;
      opacity: 0;

      a {
        background: #fff;
        color: #000;
        font-size: 22px;
        letter-spacing: 2.5px;
        border-radius: 34px;
        height: 34px;
        line-height: 34px;
        padding: 0 20px;

      }

      @include mobile{
        padding: 10px;

        a{
          font-size: 5.5vw;
          padding: 0 10px;
          letter-spacing: 2px;
        }
      }

      a+a{
        margin-left: 10px;

        @include mobile{
          margin-left: 5px;
        }
      }
    }

    &:hover {
      .img-box {
        img {
          opacity: 0.3;
        }
      }

      .txt-box {
        opacity: 1;
      }

      .btn-box {
        opacity: 1;
      }
    }
  }

  .project-item {
    position: relative;

    &.reverse {
      .txt-box {
        left: auto;
        right: 0;
        text-align: right;
      }

      .category-list{
        justify-content: flex-end;
      }

      .btn-box {
        left: auto;
        right: 0;
      }
    }
  }
}