@charset "UTF-8";

.work{
  padding: 4.5rem 0;
  font-family: 'Pretendard', sans-serif;
  @include mdq-max(md){
    padding: 4rem 0;
  }
  &--4{
    .tit-area{
      .tit{
        @include mdq-max(sm){
          font-size: 2.5rem !important;
        }
        @media (max-width:400px){
          font-size: 2.1rem !important;
        }
        @include mdq-max(xxs){
          font-size: 2rem !important;
        }
      }
    }
  }
  &--5{
    .img{
      &-wrap{
        display: flex;
        justify-content: space-between;
        @include mdq-max(sm){
          flex-direction: column;
          gap: 1.5rem;
        }
      }
      &-area{
        flex: 1 0 48%;
        max-width: 48%;
        @include mdq-max(sm){
          flex: 1 0 100%;
          max-width: 100%;
        }
      }
      &-bx{
        border-top: 1px solid $color-2;
        border-bottom: 1px solid $color-2;
        @include img-to-bg(percentage(879/935));
        padding: 0 !important;
      }
    }
  }
  .wrapper {
    display: flex;
    align-items: center;
    @include mdq-max(lg){
      flex-direction: column;
    }
    .img-bx{
      flex: 1 0 38%;
      max-width: 38%;
      @include img-to-bg(percentage(540/540));
      border-radius: 2rem;
      border: 1px solid $color-2;
      @include mdq-max(xxl){
        flex: 1 0 40%;
        max-width: 40%;
      }
      @include mdq-max(lg){
        flex: 1 0 100%;
        max-width: 100%;
        width: 100%;
      }
    }
    .txt-bx{
      flex: 1 0 62%;
      max-width: 62%;
      padding-left: 7rem;
      @include mdq-max(xxl){
        padding-left: 4rem;
        flex: 1 0 60%;
        max-width: 60%;
      }
      @include mdq-max(lg){
        flex: 1 0 100%;
        max-width: 100%;
        padding-left: 0;
        padding-top: 4rem;
      }
      @include mdq-max(md){
        padding-top: 3rem;
      }
      .tit-area{
        .txt{
          color: $color-2;
          font-size: 1.15rem;
          display: inline-block;
          @include mdq-max(sm){
            font-size: 1.1rem;
          }
        }
        .tit{
          font-size: 5.5rem;
          font-weight: 700;
          padding-top: 1rem;
          letter-spacing: 0.02rem;
          @include mdq-max(xxl){
            font-size: 4.7rem;
          }
          @include mdq-max(xl){
            font-size: 4.2rem;
          }
          @include mdq-max(xl){
            font-size: 3.9rem;
          }
          @include mdq-max(md){
            font-size: 3.8rem;
          }
          @include mdq-max(sm){
            font-size: 3.5rem;
          }
          @include mdq-max(xs){
            font-size: 3rem;
          }
        }
      }
      .inner{
        margin: rem(40) 0;
        @include mdq-max(md){
          margin: 2rem 0;
        }
        @include mdq-max(sm){
          margin: 1.5rem 0;
        }
      }
      .period,
      .contribution{
        font-size: 1.25rem;
        color: $color-3;
        margin-bottom: rem(20);
        @include mdq-max(md){
          font-size: 1.1rem;
        }
        @include mdq-max(sm){
          font-size: 1rem;
          margin-bottom: 1rem;
        }
      }
      .skill{
        &-list{
          display: flex;
          gap: 10px;
          &__item{
            font-size: 1.25rem;
            color: $color-3;
            text-transform: uppercase;
            position: relative;
            @include mdq-max(md){
              font-size: 1.1rem;
            }
            @include mdq-max(sm){
              font-size: 1rem;
            }
            &::after{
              content: '/';
              color: #ddd;
              margin-left: 10px;
            }
            &:last-child{
              &::after{
                display: none;
              }
            }
          }
        }
      }
      .link{
        display: inline-block;
        margin-top: 1.5rem;
        font-size: 1.25rem;
        border-radius: 40px;
        padding: 0.6rem 1.2rem;
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        font-weight: 500;
        position: relative;
        z-index: 1;
        overflow: hidden;
        @include mdq-max(md){
          font-size: 1.1rem;
          margin-top: 1.5rem;
        }
        @include mdq-max(sm){
          font-size: 1rem;
        }
        &:hover{
          color: #0d0d0b;
          &::after{
            width: 100%;
            z-index: -1;
          }
        }
        &::after{
          content: "";
          position: absolute;
          border-radius: 40px;
          top: 0;
          left: 0;
          width: 0%;
          height: 100%;
          transition: all 0.4s;
          background-color: #d5fca2;
        }
      }
      .desc{
        .txt{
          font-size: 1.25rem;
          line-height: 1.8;
          letter-spacing: -0.3px;
          color: $color-4;
          padding-bottom: 1rem;
          @include mdq-max(md){
            font-size: 1.1rem;
          }
          @include mdq-max(sm){
            font-size: 1rem;
          }
          &:last-child{
            padding-bottom: 0;
          }
        }
      }
    }
  }
  .contents{
    margin-top: 7rem;
    @include mdq-max(xl){
      margin-top: 5rem;
    }
    @include mdq-max(md){
      margin-top: 3rem;
    }
    .inner{
      &:first-child{
        .img-area{
          margin-top: 0;
        }
      }
    }
    .img{
      &-wrap{

      }
      &-area{
        border: 1px solid $color-2;
        border-radius: 2rem;
        background: #fcfbfc;
        padding: 4.3rem 0;
        margin-top: 5rem;
        @include mdq-max(md){
          margin-top: 3rem;
          padding: 2.5rem 0;
          border-radius: 1rem;
        }
        @include mdq-max(sm){
          padding: 2rem 0;
        }
      }
      &-bx{
        text-align: center;
        padding: 0 5rem;
        @include mdq-max(lg){
          padding: 0;
        }

        img{
          border-radius: 1rem;
          border: 1px solid $color-2;
          @include mdq-max(lg){
            border-radius: 0;
            border-left: 0;
            border-right: 0;
          }
        }
      }
    }
    .txt-bx{
      font-family: 'Pretendard', sans-serif;
      font-size: 1.25rem;
      line-height: 1.8;
      letter-spacing: -0.3px;
      color: $color-4;
      margin-top: 2rem;
      @include mdq-max(md){
        font-size: 1.1rem;
      }
      @include mdq-max(sm){
        font-size: 1rem;
        margin-top: 1.5rem;
      }
    }
  }
}

.pagination{
  font-family: "Pretendard",sans-serif;
  font-size: 1.375rem;
  margin-bottom: 5rem;
  @include mdq-max(md){
    font-size: 1.1rem;
  }
  @include mdq-max(sm){
    font-size: 1rem;
  }
  .tit{
    font-weight: 400;
  }
  .tit,
  .link{
    padding: 1rem;
    @include mdq-max(sm){
      padding: 0.7rem;
    }
  }
  .link{
    display: block;
    font-weight: 300;
    border-top: 1px solid $color-4;
    transition: 0.3s;
    &:hover{
      background-color: rgba(0,0,0,0.1);
      font-weight: 400;
    }
    &:last-child{
      border-bottom: 2px solid #777;
    }
  }
}